<header>
    <img src="/images/logo.png" alt="Logo" height="100px">
    <h1 class="site-header">Content Management Website</h1>
</header>

<nav>
    <ul>
        <li><a href="/addpage">Add Page</a></li>
        <li><a href="/editpage">Edit Pages</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</nav>