<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>CMS - Admin - Dashboard</title>
  <link rel="stylesheet" href="css/style.css" />

</head>

<body>
  <div class="container">
    <header>
      <img src="images/logo.png" alt="Logo" height="100px">
      <h1 class="site-header">Content Management Website</h1>
    </header>


    <nav>
      <ul>
        <li><a href="addpage">Add Page</a></li>
        <li><a href="editpage">Edit Pages</a></li>
        <li><a href="logout">Logout</a></li>
      </ul>
    </nav>

    <main class="text-center">
      <h2>Welcome</h2>
      <p>Hello Admin, Welcome to the dashboard!</p>
    </main>

    <%- include('./partials/footer'); %>
    
  </div>

</body>

</html>